body {
    font-family: Arial, sans-serif;
    background-color:rgb(0, 25, 148); /* A dark background to contrast with the white form */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 0, 0);
}

.menu-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.header-menu {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-group button {
    background-color: rgb(0, 25, 148);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #2e3cff;
}
